<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=h3, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>ADD ARTICLES</h3>

    <form action="/articles" method="POST">
      <input type="text" name="title" , placeholder="Add title" />
      <textarea name="description" placeholder="Add Description"></textarea>
      <input type="text" name="tag" , placeholder="tag" />
      <input type="text" name="author" , placeholder="author" />
      <input type="submit" value="ADD ARTICLE" />
    </form>
  </body>
</html>
