<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/comments/<%= comment.id %>" method="POST">
      <span>Edit Comment</span>
      <textarea name="text" placeholder="Update Comments">
          <%= comment.text %>
      </textarea>
      <div>
        <button type="submit">Update comment</button>
      </div>
    </form>
  </body>
</html>
