<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to Blobs</h1>
    <a href="/articles">Go to Articles</a>
  </body>
</html>
