<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="add-form">
      <h3>New Form</h3>
      <form action="/books" method="POST">
        <input type="text" name="title" id="title" placeholder="Title" />
        <textarea name="summary" id="summary" cols="30" rows="5"></textarea>
        <input type="number" name="pages" id="pages" placeholder="Pages" />
        <input
          type="text"
          name="publication"
          id="publication"
          placeholder="Publication"
        />

        <input
          type="text"
          name="cover_image"
          id="cover_image"
          placeholder="Image url"
        />

        <input type="text" name="author" placeholder="Author" />

        <select name="category">
          <option value="select-category">Select-Category</option>
          <option value="fiction">Fiction</option>
          <option value="adventure">adventure</option>
          <option value="technology">technology</option>
          <option value="motivation">motivation</option>
        </select>

        <input type="submit" value="submit" />
      </form>
    </div>
  </body>
</html>
