<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>BOOK STORE</h1>
    </header>

    <div class="home-page">
      <h2>Welcome To online Book Store</h2>
      <a href="/books">List your books</a>
    </div>
    <div class="image">
      <img src="images/istockphoto-1222550815-170667a.jpg" alt="1" />
    </div>
  </body>
</html>
