<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Home</a>
    <div>
      <a href="/articles/new">Add Articles</a>
    </div>

    <div>
      <h3>Articles</h3>

     

      <a href=""><button>Edit</button></a>
      <div>
        <a href=""><button>Delete</button></a>
      </div>
    </div>
  </body>
</html>
